header h1 {
  color: #da7d1d;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 2em;
}

.productListed {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  margin-top: 5em;
  margin-bottom: 10em;
}
.productListed .merchBlock {
  width: calc(100% / 6);
  display: inline-block;
  margin: 0 0.5rem;
  border: 2px solid #4fb4d2;
  margin-bottom: 2em;
  padding: 1rem;
  color: #000000;
  border-radius: 10px;
  font-size: 0.875rem;
  line-height: 1.5;
  text-align: center;
}
.productListed .merchImage img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.25em;
  width: 100%;
  height: auto;
}
.productListed .merchName {
  font-size: large;
  margin: 1rem 0 0.5rem;
  margin-bottom: 0.25em;
}
.productListed .merchDesc {
  margin-left: 10px;
  margin-right: 10px;
  margin: 0;
  margin-bottom: 0.25em;
}
.productListed .merchPrice {
  font-size: larger;
  color: #4fb4d2;
  margin: 0.5rem 0;
  margin-bottom: 0.25em;
}
.productListed button {
  border: none;
  background-color: #7966a2;
  border-radius: 10px;
  padding: 0.5em 2em;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

@media screen and (max-width: 360px) {
  .productListed {
    display: flex;
    flex-direction: column;
  }
  .productListed .merchBlock {
    width: 100%;
    margin-bottom: 2em;
  }
}
.deleteResult {
  color: #4fb4d2;
  text-align: center;
}
.deleteResult a .button2 {
  border: none;
  margin-bottom: 5em;
  margin-right: 1em;
  margin-top: 5em;
  background-color: #7966a2;
  border-radius: 10px;
  padding: 0.4em 0.4em;
  color: #da7d1d;
  font-size: 18px;
  font-weight: bold;
}
.deleteResult a .button3 {
  border: none;
  background-color: #da7d1d;
  border-radius: 10px;
  padding: 0.4em 0.7em;
  color: #7966a2;
  font-size: 18px;
  font-weight: bold;
}