section {
  margin-top: 5em;
  margin-bottom: 5em;
}
section h1 {
  text-align: center;
  color: #4fb4d2;
}
section h2 {
  text-align: center;
  color: red;
  font-size: 21px;
  margin-top: 1em;
}
section form {
  margin-top: 2em;
  text-align: center;
}
section form p {
  font-size: 1.2em;
  margin-bottom: 1em;
}
section form p .form-control,
section form p .form-select {
  margin: auto;
  width: 50%;
}
section form label {
  margin-top: 1em;
}
section form .product_editor {
  display: none;
}

@media screen and (max-width: 360px) {
  section h2 {
    font-size: 16px;
  }
  section form {
    margin-top: 2em;
    text-align: center;
  }
  section form p {
    font-size: 1.2em;
    margin-bottom: 1em;
  }
  section form p .form-control,
section form p .form-select {
    margin: auto;
    width: 80%;
  }
}
.productCon {
  margin-top: 6em;
  margin-bottom: 2em;
  text-align: center;
}
.productCon h1 {
  text-align: center;
  margin-bottom: 1.5em;
  color: #4fb4d2;
}
.productCon h2 {
  margin-bottom: 1.5em;
}
.productCon .list-group {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 1.5em;
}
.productCon .list-group li span {
  color: #da7d1d;
}
.productCon a .button2 {
  border: none;
  margin-bottom: 5em;
  margin-right: 1em;
  background-color: #7966a2;
  border-radius: 10px;
  padding: 0.4em 0.4em;
  color: #da7d1d;
  font-size: 18px;
  font-weight: bold;
}
.productCon a .button3 {
  border: none;
  background-color: #da7d1d;
  border-radius: 10px;
  padding: 0.4em 0.7em;
  color: #7966a2;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (max-width: 360px) {
  .productCon .list-group {
    width: 90%;
  }
  .productCon a .button3 {
    border: none;
    background-color: #da7d1d;
    border-radius: 10px;
    padding: 0.4em 0.9em;
    color: #7966a2;
    font-size: 18px;
    font-weight: bold;
  }
}