header {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 5em;
}
header h1 {
  color: #da7d1d;
}

section {
  /* Add a black background color to the top navigation */
  /* Style the links inside the navigation bar */
  /* Change the color of links on hover */
  /* Add a color to the active/current link */
}
section .mobile_nav {
  display: none;
  /* Style the navigation menu */
  /* Style the active link (or home/logo) */
}
section .mobile_nav .mobilenav {
  overflow: hidden;
  background-color: #4fb4d2;
  position: relative;
  width: 50%;
  text-align: center;
  margin: auto;
  /* Hide the links inside the navigation menu (except for logo/home) */
  /* Style navigation menu links */
  /* Style the hamburger menu */
  /* Add a grey background color on mouse-over */
}
section .mobile_nav .mobilenav #myLinks {
  display: none;
}
section .mobile_nav .mobilenav a {
  color: white;
  padding: 2px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
section .mobile_nav .mobilenav .a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
section .mobile_nav .mobilenav .a:hover {
  background-color: #ddd;
  text-decoration: none;
}
section .mobile_nav .active {
  background-color: #04AA6D;
  color: #da7d1d;
}
section .topnav {
  position: relative;
  background-color: #4fb4d2;
  overflow: hidden;
}
section .center {
  margin-left: 37%;
}
section .topnav a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
section .topnav a:hover {
  background-color: #da7d1d;
  color: black;
}
section .topnav a.active {
  color: #ffc300;
}

@media screen and (max-width: 360px) {
  section .topnav {
    display: none;
  }
  section .mobile_nav {
    display: block;
  }
}
article {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 5em;
}
article h1 {
  color: #da7d1d;
}
article p {
  color: #7966a2;
}
article p span {
  color: #4fb4d2;
  font-size: 1.2em;
  font-weight: bold;
}

.sale {
  display: flex;
  justify-content: center;
  margin-bottom: 5em;
}
.sale .item_image {
  margin-left: 10em;
}
.sale .item_image .thumbnail img {
  margin-top: 0.5em;
}
.sale .item_description h2 {
  text-align: center;
  margin-top: 2em;
  color: #da7d1d;
  font-weight: bold;
}
.sale .item_description P {
  margin-left: 2em;
  margin-top: 2em;
  width: 90%;
  font-size: 1.1em;
}

@media screen and (max-width: 360px) {
  .sale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5em;
  }
  .sale .item_image {
    width: 100%;
    margin-left: 2em;
  }
  .sale .item_image img {
    width: 90%;
    height: auto;
  }
  .sale .item_image .thumbnail {
    display: none;
  }
  .sale .item_image .thumbnail img {
    margin-top: 0.5em;
  }
  .sale .item_description h2 {
    text-align: center;
    margin-top: 2em;
    color: #da7d1d;
    font-weight: bold;
  }
  .sale .item_description P {
    margin-left: 1em;
    margin-top: 2em;
    width: 90%;
    font-size: 1.1em;
  }
}