nav .row {
  width: 100%;
}
nav .col-2 {
  display: flex;
  justify-content: center;
}
nav .col-2 .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #4fb4d2;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
nav .col-2 .sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
}
nav .col-2 .sidenav a:hover {
  color: #da7d1d;
}
nav .col-2 .sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
nav .col-2 .dropdown span {
  font-size: 24px;
  cursor: pointer;
  color: white;
}
nav .col-2 .fas {
  cursor: pointer;
  color: white;
  font-size: 24px;
}
nav .col-2 .fas:hover {
  color: #da7d1d;
}
nav .col-2 .fa-shopping-cart,
nav .col-2 .fa-user {
  margin-top: 0.2em;
}
nav .col-2 img:hover {
  color: #da7d1d;
}
nav .col-5 {
  display: flex;
  justify-content: center;
  text-align: center;
}
nav .col-5 h4 {
  color: white;
}
@media screen and (max-width: 360px) {
  nav .row {
    width: 100%;
  }
}

footer .banner {
  background-color: #ffc300;
}
footer .banner .row {
  padding: 2em;
}
footer .banner .row .col-4 h5 {
  text-align: left;
  width: 19em;
}
footer .banner .row .col-5 form input[type=email] {
  border: none;
  border-radius: 10px;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  padding-left: 2em;
  padding-right: 2em;
}
footer .banner .row .col-5 form input[type=button] {
  border: none;
  border-radius: 10px;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: white;
  text-align: center;
  background-color: #7966a2;
  font-size: 20px;
  font-weight: bold;
}
footer .banner .row .col-5 form ::placeholder {
  text-align: left;
  font-size: 20px;
}
footer .bottom-footer {
  background-color: #7966a2;
  padding-top: 2em;
}
footer .bottom-footer .col-1 {
  color: white;
}
footer .bottom-footer i {
  margin-top: 2em;
  display: block;
  text-align: center;
}
footer .bottom-footer i .fab .fa-twitter {
  font-size: 16px;
}
footer .bottom-footer div:nth-child(9) {
  display: none;
}
footer .bottom-footer .menu h3 {
  color: white;
}
footer .bottom-footer .menu a {
  text-decoration: none;
  color: white;
  text-align: center;
  margin-right: 0.5em;
}
footer .bottom-footer .contactUs h3 {
  color: white;
}
footer .bottom-footer .contactUs h4 {
  color: white;
}
footer .bottom-footer .contactUs h4 span {
  display: block;
  font-size: 16px;
  width: 200px;
  margin-top: 0.5em;
}

@media screen and (max-width: 360px) {
  footer .banner .row {
    padding-top: 1.5em;
  }
  footer .banner .row .col-2 {
    display: none;
  }
  footer .banner .row .col-4 {
    width: 100%;
  }
  footer .banner .row .col-4 h5 {
    text-align: center;
    width: 100%;
  }
  footer .banner .row .col-5 {
    width: 100%;
  }
  footer .banner .row .col-5 form {
    margin-left: 3em;
  }
  footer .banner .row .col-5 form input[type=email] {
    border-radius: 10px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 0;
    margin-top: 0.5em;
  }
  footer .banner .row .col-5 form input[type=button] {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 16px;
    margin-top: 0.5em;
    margin-left: 2.5em;
  }
  footer .banner .row .col-5 form ::placeholder {
    text-align: left;
    font-size: 16px;
  }
  footer .bottom-footer .row div:nth-child(1) {
    display: none;
  }
  footer .bottom-footer div:nth-child(2) {
    display: none;
  }
  footer .bottom-footer div:nth-child(3) {
    display: none;
  }
  footer .bottom-footer div:nth-child(4) {
    display: none;
  }
  footer .bottom-footer div:nth-child(6) {
    display: none;
  }
  footer .bottom-footer div:nth-child(7),
footer .bottom-footer div:nth-child(8) {
    display: none;
  }
  footer .bottom-footer .col-2 {
    width: 40%;
    color: white;
  }
  footer .bottom-footer .contactUs {
    margin-left: 2em;
  }
  footer .bottom-footer .contactUs h3 {
    color: white;
    display: none;
  }
  footer .bottom-footer .contactUs h4 {
    color: white;
  }
  footer .bottom-footer .contactUs h4 span {
    display: block;
    font-size: 16px;
    width: 150px;
    margin-top: 0.5em;
  }
  footer .bottom-footer div:nth-child(9) {
    display: block;
    margin-left: 2em;
  }
}